/* * {
  margin: 0;
  padding: 0;
} */

.heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.name {
  padding: 10px 10px;
}

.btn {
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: blueviolet;
  color: #fff;
}

.circle {
  width: 205px;
  height: 205px;
  display: inline-block;
  border: #000 solid 1px;
  border-radius: 10px;
  position: relative;
}

.circle::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  border-radius: 50%;
  background: olive;
  width: 200px;
  height: 200px;
  content: " ";
}
